/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #555;
}

.navbar h1 {
  cursor: pointer;
}

.notifications {
  position: relative;
}

.notification-icon {
font-size: 2rem;
  cursor: pointer;
}

.notification-dropdown {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notifications:hover .notification-dropdown {
  display: block;
}

.notification-item {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100px; */
}

.logout {
  cursor: pointer;
}

.dashboard {
  cursor: pointer;
}